{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ category.name }} | Fluffy{% endblock %}

{% block content %}
<main class="catalog-section">
    <div class="container">
        <h1>{{ category.name }}</h1>

        <div class="catalog-grid">
            {% for product in products %}
                <div class="hit-card">
                    <a href="{% url 'product_detail' product.id %}">
                        <div class="hit-image-wrapper">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static 'img/inito.jpeg' %}" alt="Немає фото">
                            {% endif %}
                        </div>
                        <div class="hit-content">
                            <h4>{{ product.name }}</h4>
                            <p class="price-text">{{ product.price }} грн</p>
                        </div>
                    </a>
                    <div class="card-btn-wrap">
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="buy-button">КУПИТИ</button>
                        </form>
                    </div>
                </div>
            {% empty %}
                <p>У цій категорії поки немає товарів.</p>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}